asgi-redis==1.0.0
asgiref==1.0.0
attrs==20.3.0
autobahn==20.12.3
automat==20.2.0
cffi==1.14.5
channels==1.0.3
constantly==15.1.0
cryptography==3.4.7
daphne==1.0.3
dj-database-url==0.4.0
django==1.10.5
haikunator==1.0.1
hyperlink==21.0.0
idna==3.1
incremental==21.3.0
msgpack-python==0.4.7
psycopg2==2.7.3.2
pycparser==2.20
redis==2.10.5
six==1.10.0
twisted==17.1.0
txaio==21.2.1
zope.interface==4.1.3
